.CartContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

.CartItem {
    margin-top: 10px;
    font-size: 1.5rem;
}

.ItemCard {
    width: min(900px, 90%);
    display: flex;
    justify-content: space-between;
}

