.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    background-image: url("./assets/shopBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.homePage {
    background-color: white;
    padding: 10px;
    height: 150px;
    width: 300px;

    min-height: 10%;
    min-width: 10%;
    border-radius: 10px;

    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homePageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}


.homePagePara {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.homePageButton {
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homePageButton:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}