.Container {
    display: grid;
    gap: 10px;
    padding: 2px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Itemcard {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    height: 400px;
}

.Itemcard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ItemImage {
    width: 100%;
    height: 75%;
    background-color: grey;
}

.ButtonContainer {
    display: flex;
    justify-content: space-evenly;
}

.ButtonContainer > button {
    text-wrap: wrap;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

.LabelContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.LabelContainer > input {
    border-radius: 5px;
}